### Question 1:Import the customer data into python.

In [9]:

import pandas as pd
CustomerData=pd.read_csv('C:/Users/xskolantaa/Desktop/Customers.csv')
#print (CustomerData)

### Q2:Understand the data using different functions and attributes like shape, index, columns, dtypes.ndim, info(), get_dtype_counts etc

In [11]:
#Head 
CustomerData.head

In [12]:
CustomerData.shape #denotes rows,columns

(10000, 14)

In [13]:
CustomerData.index #index of the dataset

RangeIndex(start=0, stop=10000, step=1)

In [14]:
CustomerData.columns #Number of columns

Index(['Customer_ID', 'Gender', 'First_Date', 'First_region', 'First_state',
       'First_city', 'Recent_Date', 'Last_region', 'Last_state', 'Last_city',
       'Customer_Value', 'Buy_Times', 'Points_Earned', 'Points_Redeemed'],
      dtype='object')

In [15]:
CustomerData.ndim #number of dimensions in DataFrame

2

In [16]:
CustomerData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Customer_ID        10000 non-null int64
Gender             9986 non-null object
First_Date         10000 non-null int64
First_region       9979 non-null object
First_state        9983 non-null object
First_city         10000 non-null object
Recent_Date        10000 non-null int64
Last_region        10000 non-null object
Last_state         10000 non-null object
Last_city          10000 non-null object
Customer_Value     9964 non-null float64
Buy_Times          10000 non-null int64
Points_Earned      9979 non-null float64
Points_Redeemed    9988 non-null float64
dtypes: float64(3), int64(4), object(7)
memory usage: 1.1+ MB

In [18]:
CustomerData.get_dtype_counts()

float64    3
int64      4
object     7
dtype: int64

### Q3: What is percentage of missing values for customer Value variable

In [48]:
missingData=CustomerData.isna()
missingData_mis=missingData.sum()
perce= missingData_mis/len(CustomerData)*100
print(perce.get('Customer_Value'))

0.36

### Q4:Create two subsets with unique and duplicate values

In [62]:
UniqSet= CustomerData.drop_duplicates(keep=False,inplace=False)
UniqSet

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed
0,129609144,M,20130130,West,Gujarat,Surat,20130216,West,Gujarat,Surat,2032.00000,2,200.0,0.0
1,129627580,M,20130129,North,Delhi,Delhi,20130129,North,Delhi,Delhi,1709.00000,1,100.0,0.0
2,130363481,M,20130221,West,Gujarat,Surat,20130221,West,Gujarat,Surat,523.00000,1,10.0,0.0
3,49817480,M,20130222,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,5132.00000,1,170.0,0.0
4,126343829,F,20130301,North,Delhi,Delhi,20130301,North,Delhi,Delhi,1008.00000,1,60.0,0.0
5,8223758,F,20130314,West,Gujarat,Surat,20130314,West,Gujarat,Surat,2606.90000,1,1140.0,0.0
6,131816709,M,20130318,South,Andhra Pradesh,Visakhapatnam,20130318,South,Andhra Pradesh,Visakhapatnam,1369.00000,1,79.0,0.0
7,118543320,F,20130321,North,Uttar Pradesh,Kanpur,20130321,North,Uttar Pradesh,Kanpur,5690.00000,1,360.0,0.0
8,131365512,M,20130323,East,West Bengal,Kolkata,20130331,East,West Bengal,Kolkata,2555.00000,2,190.0,0.0
9,758571,M,20130324,South,Karnataka,Bangalore,20130325,West,Maharashtra,Thane,2677.80000,3,145.0,0.0
10,85489184,M,20120101,West,Maharashtra,Nagpur,20120101,West,Maharashtra,Nagpur,855.00000,1,35.0,0.0
11,85438231,M,20120103,West,Maharashtra,Mumbai,20121111,East,West Bengal,Bhatpara,5969.00000,5,294.0,0.0
12,74053888,F,20120102,West,Gujarat,Surat,20130314,West,Gujarat,Surat,9142.49700,10,639.0,2.0
13,7256956,M,20120102,North,Rajasthan,Jaipur,20121126,North,Rajasthan,Jaipur,8019.60000,5,609.0,0.0
14,1610085,F,20120103,North,Delhi,Delhi,20121013,North,Delhi,Delhi,10380.19900,6,1189.0,0.0
15,7518872,M,20120104,North,Uttar Pradesh,Kanpur,20130123,North,Uttar Pradesh,Kanpur,14587.00000,6,865.0,0.0
16,8638553,M,20120103,West,Gujarat,Ahmedabad,20120103,West,Gujarat,Ahmedabad,1011.00000,1,115.0,0.0
17,85438392,M,20120103,West,Gujarat,Ahmedabad,20130212,South,Telangana,Hyderabad,6065.30000,5,485.0,0.0
18,63508964,M,20120106,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,145472.70200,36,680.0,16635.0
19,23667984,F,20120107,West,Maharashtra,Nagpur,20130313,West,Maharashtra,Nagpur,19640.70000,12,268.0,2549.0
20,84634600,M,20120108,South,Karnataka,Bangalore,20130307,South,Karnataka,Bangalore,32377.60200,22,1029.0,1771.0
21,85207999,M,20120110,South,Andhra Pradesh,Visakhapatnam,20121229,South,Andhra Pradesh,Visakhapatnam,17202.40000,13,449.0,0.0
22,86066230,M,20120111,West,Gujarat,Vadodara,20120111,West,Gujarat,Vadodara,900.50000,1,100.0,0.0
23,6888521,M,20120112,West,Maharashtra,Thane,20121210,West,Maharashtra,Pimpri-Chinchwad,4588.99900,4,190.0,0.0
24,87030390,M,20120111,East,West Bengal,Kolkata,20130302,East,West Bengal,Kolkata,33047.00400,31,141.0,2214.0
25,85645488,M,20120111,North,Madhya Pradesh,Bhopal,20120111,North,Madhya Pradesh,Bhopal,878.00000,1,80.0,0.0
26,12935950,M,20120113,West,Gujarat,Surat,20120623,West,Gujarat,Ahmedabad,18358.00000,6,874.0,0.0
27,10954886,F,20120115,North,Madhya Pradesh,Indore,20130118,North,Madhya Pradesh,Indore,15426.39800,13,1672.0,0.0
28,84437746,M,20120115,East,West Bengal,Kolkata,20130222,South,Karnataka,Bangalore,5415.00100,6,736.0,0.0
29,7514232,M,20120114,North,Delhi,Delhi,20130108,North,Delhi,Delhi,51692.99900,29,4275.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9943,91066310,M,20120130,West,Gujarat,Surat,20130312,West,Gujarat,Surat,11723.00000,10,475.0,0.0
9944,414338,M,20120131,West,Gujarat,Surat,20120131,West,Gujarat,Surat,1080.00000,1,0.0,0.0
9945,9144258,M,20120130,South,Tamil Nadu,Chennai,20130313,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0
9946,91076263,F,20120130,East,West Bengal,Kolkata,20130310,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0
9947,85012902,M,20120201,West,Gujarat,Surat,20130310,West,Gujarat,Surat,30123.30000,9,1555.0,0.0
9948,14762484,M,20120131,North,Madhya Pradesh,Indore,20121211,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0
9949,69453769,M,20120201,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,480.00000,1,10.0,580.0
9950,7060195,M,20120202,West,Gujarat,Ahmedabad,20130328,West,Gujarat,Ahmedabad,6693.20000,3,645.0,0.0
9951,91095093,M,20120201,South,Telangana,Hyderabad,20120201,South,Telangana,Hyderabad,825.99700,1,55.0,0.0
9952,91098168,M,20120201,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,408.00000,1,0.0,0.0
9953,91227615,M,20120203,West,Gujarat,Surat,20120203,West,Gujarat,Surat,617.00000,1,35.0,0.0
9954,91136028,M,20120203,West,Maharashtra,Mumbai,20120523,South,Karnataka,Bangalore,4383.80100,5,10.0,370.0
9955,794622,F,20120203,West,Gujarat,Surat,20120508,West,Gujarat,Surat,8081.00000,4,594.0,0.0
9956,91289992,M,20120205,West,Maharashtra,Pimpri-Chinchwad,20120205,West,Maharashtra,Pimpri-Chinchwad,1069.00000,1,81.0,0.0
9957,73876936,M,20120205,West,Gujarat,Surat,20130218,West,Gujarat,Surat,8059.59900,5,647.0,0.0
9958,50093138,M,20120208,North,Uttar Pradesh,Agra,20121114,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0
9959,92763145,M,20120209,South,Telangana,Hyderabad,20130319,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0
9960,73839417,M,20120210,South,Karnataka,Bangalore,20130216,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0
9961,69606859,M,20120215,North,Uttar Pradesh,Lucknow,20120215,North,Uttar Pradesh,Lucknow,1116.00000,1,0.0,310.0
9962,113292109,M,20120217,West,Maharashtra,Mumbai,20120217,West,Maharashtra,Mumbai,1222.00000,1,60.0,0.0
9963,5989720,F,20120109,North,Uttar Pradesh,Lucknow,20130221,North,Uttar Pradesh,Lucknow,5408.80000,3,375.0,0.0
9964,74054076,F,20120110,North,Uttar Pradesh,Kanpur,20121117,North,Uttar Pradesh,Kanpur,13485.10100,10,166.0,810.0
9965,86103480,M,20120112,West,Maharashtra,Mumbai,20120112,West,Maharashtra,Mumbai,408.00000,1,0.0,0.0
9966,63594593,M,20120112,East,West Bengal,Siliguri,20130204,East,West Bengal,Siliguri,10379.00000,4,495.0,0.0
9967,87998623,M,20120112,East,West Bengal,Durgapur,20130228,North,Uttar Pradesh,Kanpur,24378.00000,9,1506.0,0.0
9968,60082781,M,20120115,North,Haryana,Gurgaon,20120220,North,Uttar Pradesh,Ghaziabad,3281.90100,4,335.0,100.0
9969,88068705,M,20120116,West,Gujarat,Surat,20120704,West,Gujarat,Surat,10996.00000,3,680.0,0.0
9970,5599557,F,20120115,West,Gujarat,Rajkot,20130330,West,Gujarat,Rajkot,74662.77636,36,22.0,10472.0
9971,7956527,F,20120115,North,Delhi,Delhi,20130222,North,Delhi,Delhi,66082.19900,37,2385.0,13520.0
9972,10184222,M,20120116,North,Uttar Pradesh,Kanpur,20121014,North,Uttar Pradesh,Kanpur,2031.00100,2,215.0,0.0

In [63]:
DiffSet=CustomerData[CustomerData.duplicated(['Customer_ID'])]
DiffSet

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed
9817,113918804,M,20120226,West,Gujarat,Ahmedabad,20120712,West,Gujarat,Ahmedabad,7048.80000,6,282.0,0.0
9818,113933467,F,20120226,South,Tamil Nadu,Chennai,20130312,East,Bihar,Patna,68863.60100,19,3374.0,0.0
9819,41337621,F,20120228,West,Gujarat,Surat,20130207,West,Gujarat,Surat,7036.00100,6,635.0,0.0
9820,6896372,M,20120228,West,Maharashtra,Nashik,20120228,West,Maharashtra,Nashik,1259.00000,1,70.0,0.0
9821,114142599,M,20120303,West,Gujarat,Surat,20130205,West,Gujarat,Surat,19136.09600,13,986.0,0.0
9822,586957,M,20120308,North,Uttar Pradesh,Kanpur,20120308,North,Uttar Pradesh,Kanpur,2022.00000,1,125.0,0.0
9823,114330400,M,20120307,West,Gujarat,Surat,20120310,West,Gujarat,Surat,1235.00000,2,90.0,0.0
9824,114731117,unknown,20120314,West,Gujarat,Surat,20120905,West,Gujarat,Surat,4216.00100,4,290.0,0.0
9825,114908563,F,20120318,West,Gujarat,Vadodara,20130327,West,Gujarat,Vadodara,34001.64287,22,198.0,1209.0
9826,823086,M,20120316,West,Maharashtra,Pimpri-Chinchwad,20130314,West,Maharashtra,Pimpri-Chinchwad,5102.59900,4,395.0,0.0
9827,114940492,F,20120317,North,Uttar Pradesh,Lucknow,20120624,North,Uttar Pradesh,Lucknow,20127.00000,9,1015.0,1530.0
9828,12605170,M,20120330,North,Uttar Pradesh,Kanpur,20120330,North,Uttar Pradesh,Kanpur,1041.00000,1,235.0,0.0
9829,50248089,F,20120330,South,Tamil Nadu,Chennai,20120628,South,Tamil Nadu,Chennai,6842.80000,3,435.0,0.0
9830,115388271,M,20120330,West,Gujarat,Rajkot,20120605,West,Gujarat,Rajkot,3858.40000,3,300.0,0.0
9831,115409564,M,20120331,North,Delhi,Delhi,20120331,North,Delhi,Delhi,3990.00000,1,30.0,0.0
9832,12646522,M,20120401,North,Uttar Pradesh,Kanpur,20130310,North,Uttar Pradesh,Kanpur,20064.40100,11,905.0,284.0
9833,84947807,M,20120403,North,Uttar Pradesh,Kanpur,20130329,North,Uttar Pradesh,Kanpur,17391.99700,14,805.0,0.0
9834,115493573,unknown,20120403,South,Andhra Pradesh,Visakhapatnam,20120403,South,Andhra Pradesh,Visakhapatnam,2390.00000,1,245.0,0.0