In [27]:
import pandas as pd
import numpy as np
df=pd.read_csv('C:/Users/xskolantaa/Desktop/travel-times.csv')
df.describe()
df.head()

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN

### find the missing values per column

In [14]:
missingValues=["-"]

print (df.isnull().sum())

Date                0
StartTime           0
DayOfWeek           0
GoingTo             0
Distance            0
MaxSpeed            0
AvgSpeed            0
AvgMovingSpeed      0
FuelEconomy        17
TotalTime           0
MovingTime          0
Take407All          0
Comments          181
dtype: int64

In [18]:
missingValues=["-"]
df=pd.read_csv('C:/Users/xskolantaa/Desktop/travel-times.csv',na_values=missingValues)
print(df.isnull().sum())

Date                0
StartTime           0
DayOfWeek           0
GoingTo             0
Distance            0
MaxSpeed            0
AvgSpeed            0
AvgMovingSpeed      0
FuelEconomy        19
TotalTime           0
MovingTime          0
Take407All          0
Comments          181
dtype: int64

### Replace missing values

In [26]:
df1=df.replace('-',np.NaN)
df1.head()

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN

In [25]:
# '-' has been replaced as NaN
print(df1.isnull().sum())

Date                0
StartTime           0
DayOfWeek           0
GoingTo             0
Distance            0
MaxSpeed            0
AvgSpeed            0
AvgMovingSpeed      0
FuelEconomy        19
TotalTime           0
MovingTime          0
Take407All          0
Comments          181
dtype: int64

### Find the outliers per Columns-Calculate the distance- Give the justification

In [ ]:
#import necessary data
from scipy import stats
import numpy as np
#remove the data which is not numerical
odf=df._get_numeric_data()
odf.head()

### Using z Score

#### Resources

In [ ]:
#Resources
#https://machinelearningmastery.com/how-to-use-statistics-to-identify-outliers-in-data/
#https://towardsdatascience.com/ways-to-detect-and-remove-the-outliers-404d16608dba

#The commonly used threshold for outlier detection is usually a z-score of 3 or -3,
#i.e. being more than 3 standard deviations away from the mean

In [89]:
#using z score 
z = np.abs(stats.zscore(odf))
z

array([[0.23406126, 0.04654934, 0.33583331, 0.28000712, 0.38116283,
        0.32585964],
       [0.492032  , 0.65761307, 0.64333764, 0.68647686, 0.58605838,
        0.61611947],
       [0.21888651, 0.04654934, 0.66090932, 0.37914608, 0.64459997,
        0.40879102],
       ...,
       [0.74241537, 1.21608671, 1.49162103, 0.52301847, 1.79951122,
        0.5656527 ],
       [1.74394883, 0.43505274, 1.13140166, 0.55759621, 1.4628971 ,
        0.28439395],
       [0.56790575, 0.62930444, 1.02597161, 1.04337712, 1.11164759,
        0.88564646]])

In [90]:
z1=np.where(z>3)
z1

(array([ 39,  44,  49,  49,  49,  49,  57,  91,  98, 139, 165, 189, 189,
        189, 200], dtype=int64),
 array([1, 0, 2, 3, 4, 5, 5, 1, 2, 1, 0, 3, 4, 5, 4], dtype=int64))

### Clip the outliers

In [93]:
odf_z=odf[(z < 3).all(axis=1)]
odf_z.shape

(195, 6)

In [94]:
odf.shape

#we have removed 10 outlier data values

(205, 6)

### Using IQR Score

#### Resources

In [ ]:
#https://haridas.in/outlier-removal-clustering.html
#https://www.researchgate.net/post/When_is_it_justifiable_to_exclude_outlier_data_points_from_statistical_analyses
#https://www.researchgate.net/post/Which_is_the_best_method_for_removing_outliers_in_a_data_set
#https://www.theanalysisfactor.com/outliers-to-drop-or-not-to-drop/
#https://www.kdnuggets.com/2017/02/removing-outliers-standard-deviation-python.html

In [97]:
#IQR = Q3 - Q1

Q1=odf.quantile(0.25)
Q3=odf.quantile(0.75)
IQR=Q3-Q1
IQR

Distance           0.98
MaxSpeed           4.90
AvgSpeed          11.00
AvgMovingSpeed     9.40
TotalTime          6.00
MovingTime         4.20
dtype: float64

In [100]:
# next we find the outliers ie outside the Q1 and Q3 range
print(odf<(Q1-1.5*IQR))|odf>(Q3+1.5*IQR)
#True values are the ones that outside the scope

     Distance  MaxSpeed  AvgSpeed  AvgMovingSpeed  TotalTime  MovingTime
0       False     False     False           False      False       False
1       False     False     False           False      False       False
2       False     False     False           False      False       False
3        True     False     False           False      False       False
4       False     False     False           False      False       False
5       False     False     False           False      False       False
6       False     False     False           False      False       False
7        True     False     False           False      False       False
8       False     False     False           False      False       False
9       False     False     False           False      False       False
10       True     False     False           False      False       False
11      False     False     False           False      False       False
12      False     False     False           False      False       False
13       True     False     False           False      False       False
14      False     False     False           False      False       False
15      False     False     False           False      False       False
16      False     False     False           False      False       False
17       True     False     False           False      False       False
18      False     False     False           False      False       False
19      False     False     False           False      False       False
20      False     False     False           False      False       False
21      False     False     False           False      False       False
22      False     False     False           False      False       False
23      False     False     False           False      False       False
24       True     False     False           False      False       False
25      False     False     False           False      False       False
26      False     False     False           False      False       False
27      False     False     False           False      False       False
28      False     False     False           False      False       False
29      False     False     False           False      False       False
..        ...       ...       ...             ...        ...         ...
175     False     False     False           False      False       False
176      True     False     False           False      False       False
177     False     False     False           False      False       False
178      True     False     False           False      False       False
179     False     False     False           False      False       False
180      True     False     False           False      False       False
181     False     False     False           False      False       False
182     False     False     False           False      False       False
183     False     False     False           False       True        True
184      True     False     False           False      False       False
185     False     False     False           False      False       False
186      True     False     False           False      False       False
187     False     False     False           False      False       False
188      True     False     False           False      False       False
189     False     False      True            True      False       False
190      True     False     False           False      False       False
191     False     False     False           False      False       False
192      True     False     False           False      False       False
193     False     False     False           False      False       False
194     False     False     False           False      False       False
195      True     False     False           False      False       False
196     False     False     False           False      False       False
197      True     False     False           False      False       False
198     False     False     False           False      False       False
199     False     False     False           False      False       False
200     False     False      True           False      False       False
201     False     False     False           False      False       False
202     False     False     False           False      False       False
203     False     False     False           False      False       False
204     False     False     False           False      False       False

[205 rows x 6 columns]

TypeError: Could not compare [None] with block values

### Clip the outliers using IQR

In [104]:
odf_IQR = odf[~((odf < (Q1 - 1.5 * IQR)) |(odf > (Q3 + 1.5 * IQR))).any(axis=1)]
odf_IQR.shape
#Removed 67 Values

(138, 6)

### fill Missing values

In [78]:
#first we check if the FuelEconomy column we need to fill is in the same data type, else convert it. 

df1.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 13 columns):
Date              205 non-null object
StartTime         205 non-null object
DayOfWeek         205 non-null object
GoingTo           205 non-null object
Distance          205 non-null float64
MaxSpeed          205 non-null float64
AvgSpeed          205 non-null float64
AvgMovingSpeed    205 non-null float64
FuelEconomy       186 non-null float64
TotalTime         205 non-null float64
MovingTime        205 non-null float64
Take407All        205 non-null object
Comments          24 non-null object
dtypes: float64(7), object(6)
memory usage: 20.9+ KB

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN
5,1/3/2012,07:57,Tuesday,GSK,51.80,135.8,84.5,88.8,NaN,36.8,35.0,No,NaN
6,1/2/2012,17:31,Monday,Home,51.37,123.2,82.9,87.3,-,37.2,35.3,No,NaN
7,1/2/2012,07:34,Monday,GSK,49.01,128.3,77.5,85.9,-,37.9,34.3,No,NaN
8,12/23/2011,08:01,Friday,GSK,52.91,130.3,80.9,88.3,8.89,39.3,36.0,No,NaN
9,12/22/2011,17:19,Thursday,Home,51.17,122.3,70.6,78.1,8.89,43.5,39.3,No,NaN
10,12/22/2011,08:16,Thursday,GSK,49.15,129.4,74.0,81.4,8.89,39.8,36.2,No,NaN
11,12/21/2011,07:45,Wednesday,GSK,51.77,124.8,71.7,78.9,8.89,43.3,39.4,No,NaN
12,12/20/2011,16:05,Tuesday,Home,51.45,130.1,75.2,82.7,8.89,41.1,37.3,No,NaN
13,12/20/2011,06:04,Tuesday,GSK,49.01,119.0,77.4,82.0,8.89,38.0,35.9,No,NaN
14,12/19/2011,16:18,Monday,Home,51.04,132.2,77.5,83.5,8.89,39.5,36.7,No,NaN
15,12/19/2011,07:34,Monday,GSK,52.00,137.8,76.5,87.8,8.89,40.8,35.5,No,Put snow tires on
16,12/16/2011,12:22,Friday,Home,51.05,128.4,86.9,90.6,9.08,35.2,33.8,No,NaN
17,12/16/2011,07:21,Friday,GSK,49.04,124.6,71.1,80.2,9.08,41.4,36.7,No,NaN
18,12/15/2011,16:14,Thursday,Home,51.06,126.9,80.5,84.9,9.08,38.1,36.1,No,NaN
19,12/15/2011,07:19,Thursday,GSK,51.68,123.5,68.1,75.8,9.08,45.6,40.9,No,NaN
20,12/14/2011,16:20,Wednesday,Home,51.04,123.4,75.1,79.4,9.08,40.8,38.6,No,NaN
21,12/14/2011,07:23,Wednesday,GSK,51.67,123.5,76.6,82.7,9.08,40.5,37.5,No,NaN
22,12/13/2011,17:43,Tuesday,Home,51.15,130.6,74.8,82.4,9.08,41.0,37.2,No,NaN
23,12/13/2011,07:25,Tuesday,GSK,49.19,126.1,65.4,74.2,9.08,45.1,39.8,No,NaN
24,12/12/2011,07:20,Monday,GSK,49.02,126.1,65.7,74.0,9.76,44.8,39.7,No,NaN
25,12/9/2011,12:04,Friday,Home,51.14,126.8,87.3,90.2,9.76,35.2,34.0,No,NaN
26,12/9/2011,07:22,Friday,GSK,51.69,128.4,74.0,77.3,9.76,41.9,40.1,No,NaN
27,12/8/2011,17:41,Thursday,Home,51.07,125.0,74.6,81.5,9.76,41.1,37.6,No,NaN
28,12/8/2011,07:14,Thursday,GSK,51.63,134.4,76.5,84.3,9.76,40.5,36.7,No,NaN
29,12/7/2011,16:12,Wednesday,Home,51.10,126.5,79.9,85.6,9.76,38.4,35.8,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,8/5/2011,17:00,Friday,Home,51.94,126.7,74.5,82.6,8.48,41.9,37.7,No,NaN
176,8/5/2011,08:20,Friday,GSK,49.13,123.9,74.1,79.9,8.48,39.8,36.9,No,NaN
177,8/4/2011,17:38,Thursday,Home,50.96,131.9,70.3,78.5,8.48,43.5,38.9,No,NaN
178,8/4/2011,08:17,Thursday,GSK,49.12,122.4,71.5,77.3,8.48,41.2,38.2,No,NaN
179,8/3/2011,17:14,Wednesday,Home,51.64,125.0,72.2,78.7,8.48,42.9,39.4,No,NaN
180,8/3/2011,08:06,Wednesday,GSK,49.06,121.9,71.5,78.7,8.48,41.2,37.4,No,NaN
181,8/2/2011,17:22,Tuesday,Home,51.16,124.2,76.3,83.2,8.48,40.2,36.9,No,NaN
182,8/2/2011,07:38,Tuesday,GSK,53.48,124.9,68.8,78.8,8.48,46.7,40.7,No,Turn around on Derry
183,7/29/2011,20:31,Friday,Home,50.68,135.6,107.7,110.4,8.45,28.2,27.6,Yes,NaN
184,7/29/2011,08:22,Friday,GSK,49.07,121.1,73.2,77.7,8.45,40.2,37.9,No,Empty roads
185,7/28/2011,17:46,Thursday,Home,51.09,128.5,76.0,84.8,8.45,40.3,36.2,No,NaN
186,7/28/2011,08:11,Thursday,GSK,49.11,120.1,69.1,73.1,8.45,42.6,40.3,No,NaN
187,7/27/2011,17:24,Wednesday,Home,50.98,124.9,68.3,71.9,8.45,44.8,42.6,No,Police slowdown on 403
188,7/27/2011,08:15,Wednesday,GSK,48.82,124.5,70.4,77.8,8.45,41.6,37.6,No,NaN
189,7/26/2011,17:15,Tuesday,Home,51.28,122.1,43.7,51.5,8.45,70.5,59.8,No,Accident blocked 407 exit
190,7/26/2011,08:11,Tuesday,GSK,49.16,122.6,71.9,76.8,8.45,41.0,38.4,No,NaN
191,7/25/2011,16:59,Monday,Home,51.05,126.6,70.4,78.8,8.45,51.1,38.9,No,NaN
192,7/25/2011,08:06,Monday,GSK,48.32,121.2,63.4,78.4,8.45,45.7,37.0,No,NaN
193,7/22/2011,16:47,Friday,Home,51.24,126.3,75.8,81.8,8.28,40.6,37.6,No,NaN
194,7/22/2011,08:28,Friday,GSK,51.05,123.3,88.9,96.7,8.28,34.5,31.7,Yes,NaN
195,7/21/2011,07:59,Thursday,GSK,48.35,129.3,81.5,89.0,8.28,35.6,32.6,Yes,NaN
196,7/20/2011,17:17,Wednesday,Home,53.47,124.0,58.6,71.0,7.89,54.8,45.2,No,NaN
197,7/20/2011,08:24,Wednesday,GSK,48.50,125.8,75.7,87.3,7.89,38.5,33.3,Yes,NaN
198,7/19/2011,17:17,Tuesday,Home,51.16,126.7,92.2,102.6,7.89,33.3,29.9,Yes,NaN
199,7/19/2011,08:11,Tuesday,GSK,50.96,124.3,82.3,96.4,7.89,37.2,31.7,Yes,NaN
200,7/18/2011,08:09,Monday,GSK,54.52,125.6,49.9,82.4,7.89,65.5,39.7,No,NaN
201,7/14/2011,08:03,Thursday,GSK,50.90,123.7,76.2,95.1,7.89,40.1,32.1,Yes,NaN
202,7/13/2011,17:08,Wednesday,Home,51.96,132.6,57.5,76.7,NaN,54.2,40.6,Yes,NaN
203,7/12/2011,17:51,Tuesday,Home,53.28,125.8,61.6,87.6,NaN,51.9,36.5,Yes,NaN
204,7/11/2011,16:56,Monday,Home,51.73,125.0,62.8,92.5,NaN,49.5,33.6,Yes,NaN

In [52]:
df1['FuelEconomy']=df1['FuelEconomy'].astype(float)
df1.dtypes

Date               object
StartTime          object
DayOfWeek          object
GoingTo            object
Distance          float64
MaxSpeed          float64
AvgSpeed          float64
AvgMovingSpeed    float64
FuelEconomy       float64
TotalTime         float64
MovingTime        float64
Take407All         object
Comments           object
dtype: object

In [77]:
#filling with mean

#can use df.cumsum()
df1=df.replace('-',np.NaN)
df1['FuelEconomy']=df1['FuelEconomy'].astype(float)
df_n=df1['FuelEconomy'].dropna()
meanFuel=df1['FuelEconomy'].sum()/df_n.count()
meanFuel

8.690591397849461

In [81]:
df1=df1.fillna(meanFuel)
df1.head()

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,8.690591,39.3,36.3,No,8.69059
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,8.690591,37.9,34.9,No,8.69059
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,8.690591,37.5,35.9,No,8.69059
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,8.690591,39.8,35.6,No,8.69059
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,8.690591,36.8,34.8,No,8.69059

In [82]:
df1=df.replace('-',np.NaN)
df1['FuelEconomy']=df1['FuelEconomy'].astype(float)

#ffil and bfil
#https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN

### iloc and loc commands

In [106]:
r1=df.iloc[1]
r1
r2=df.loc[1]
r2

Date              1/6/2012
StartTime            08:20
DayOfWeek           Friday
GoingTo                GSK
Distance             51.63
MaxSpeed             130.3
AvgSpeed              81.8
AvgMovingSpeed        88.9
FuelEconomy            NaN
TotalTime             37.9
MovingTime            34.9
Take407All              No
Comments               NaN
Name: 1, dtype: object

### combine iloc  and loc with rows and columns(3,5,7 Columns with 0,10...100 rows, Increment 10)

In [107]:
r1=df.iloc[0:100:10,3:8:2]
print(r1)

   GoingTo  MaxSpeed  AvgMovingSpeed
0     Home     127.4            84.8
10     GSK     129.4            81.4
20    Home     123.4            79.4
30     GSK     124.6            82.0
40    Home     128.2            78.8
50    Home     127.6            77.4
60    Home     121.4            71.8
70    Home     121.5            79.1
80    Home     126.5            78.6
90     GSK     128.3           111.3